.li-tasks {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    list-style: none;
}

.ul-tasks{
    width: 100%;
    display: inline;
}

.btn-tasks{
    margin-left: 10px;
}